<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Book My House" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="application-name" content="Book My House">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <nav class="container">
      <ul>
        <li><strong>Book My House</strong></li>
      </ul>
      <ul>
        <li><%= link_to "Bookings", bookings_path %></li>
        <li><%= link_to "New Booking", new_booking_path %></li>
        <li><%= link_to "Check Availability", new_query_path %></li>
        <li><%= link_to "Statistics", statistics_path %></li>
      </ul>
    </nav>

    <main class="container">
      <% if notice %>
        <p role="alert"><%= notice %></p>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
